sudo: required
services:
  - docker

after_success:
  - docker build -t gregvinton80/multi-client ./client
  - docker build -t gregvinton80/multi-nginx ./nginx
  - docker build -t gregvinton80/multi-server ./server
  - docker build -t gregvinton80/multi-worker ./worker

  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin

  - docker push gregvinton80/multi-client
  - docker push gregvinton80/multi-nginx
  - docker push gregvinton80/multi-server
  - docker push gregvinton80/multi-worker