language: generic
sudo: required
services:
  - docker

before_install:
  - docker build -t gregvinton80/app-test -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=true gregvinton80/app-test npm test

after_success:
  - docker build -t gregvinton80/multi-client ./client
  - docker build -t gregvinton80/multi-nginx ./nginx
  - docker build -t gregvinton80/multi-server ./server
  - docker build -t gregvinton80/multi-worker ./worker

  - echo $DOCKER_PASSWORD
  - echo $DOCKER_ID
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin

  - docker push gregvinton80/multi-client
  - docker push gregvinton80/multi-nginx
  - docker push gregvinton80/multi-server
  - docker push gregvinton80/multi-worker